@font-face {
    font-family: 'rage_italicregular';
    src: url('../fonts/rage-webfont.eot');
    src: url('../fonts/rage-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rage-webfont.woff2') format('woff2'),
         url('../fonts/rage-webfont.woff') format('woff'),
         url('../fonts/rage-webfont.ttf') format('truetype'),
         url('../fonts/rage-webfont.svg#rage_italicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body { font-family: 'Open Sans', Arial, Helvetica, sans-serif; font-size:13px; font-weight:400; background:#4476ab url('../images/bodybg.jpg') no-repeat center top fixed; }
img { max-width:100%; }
.clearfix:after { display:table; content:''; clear:both; }
.fl { float:left; } .fr { float:right; } .related { position:relative; }
.text-center { text-align:center; } .text-left { text-align:left; } .text-right { text-align:right; }
*:focus { outline: none; border:0; }
a:focus, input:focus, select:focus, textarea:focus, button:focus { outline: none; border:0; }
[contenteditable="true"]:focus { outline: none; border:0; }
input::-moz-focus-inner { outline: none; border: 0; }
:focus { outline: 0; border:0; }

@media (min-width: 1200px) {
    .container { max-width: 980px; }
}
ul.logLinks, ul.logLinks li, ul.searchItems, ul.searchItems li, ul.main-nav, ul.main-nav li,
.footer ul, .footer ul li { list-style:none; margin:0; padding:0; }
ul.logLinks { padding:12px 0; overflow:hidden; margin-right:-8px; } 
ul.logLinks li { float:left; padding:0 8px; border-left:solid 1px #ffffff; font-size:11px; text-transform:uppercase; line-height:1; } 
ul.logLinks li:first-child { border-left:0; }
ul.logLinks li a { color:#ffffff; }

.hdrTop { background-color:#eff5fd; border:dashed 1px #39628e; border-bottom:0; -webkit-border-radius:6px 6px 0 0; -moz-border-radius:6px 6px 0 0; 
-ms-border-radius:6px 6px 0 0; border-radius:6px 6px 0 0; padding:16px 18px 16px 23px; }
ul.searchItems li { margin-left:14px; float:left; }
ul.searchItems li .stamp { margin-top:3px; }
.inputBox { border:solid 1px #b6bac0; background-color:#ffffff; height:41px; overflow:hidden; -webkit-border-radius:6px; -moz-border-radius:6px; -ms-border-radius:6px;
border-radius:6px; margin-top:13px; } .searchItems li:nth-child(2n) .inputBox { border-right:0; }
.inputBox input[type="text"], .inputBox input[type="search"] { border:0; margin:0; padding:4px 10px 0; width:160px; height:36px; float:left; font-style:normal; color:#101010; font-size:13px; }
.inputBox .searchBtn { float:right; width:45px; height:41px; border:0; background:transparent url('../images/search-icon.png') no-repeat 0 0; }
a.cartBtn { float:left; width:43px; height:41px; background:url('../images/cart-ico.png') no-repeat 0 0; display:block; }
.inputBox span.cartDtls { padding:10px 12px 0 10px; color:#101010; display:block; float:left; font-size:13px; }

h1, h2, h3, h4, h5, h6 { color:#5d5f67; font-weight:600; }
p { font-size:14px; line-height:1.7; color:#5d5f67; }
.phone { display:none; }
.phoneNavBtn { width:30px; display:inline-block; margin:17px 0 0 20px; } 
.phoneNavBtn span { display:block; height:4px; background-color:#ffffff; margin-bottom:4px; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px; }


.flatbtn, .roundbtn { border:0; margin:0 2px; display:inline-block; line-height:100%; font-weight:400; font-size:14px; }
.flatbtn { -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; padding:7px 12px 9px; }
.roundbtn { -webkit-border-radius:15px; -moz-border-radius:15px; border-radius:15px; padding:9px 20px 11px; }

a.flatbtn, a.roundbtn { text-decoration:none; color:#ffffff; }

.navAreaBox { padding-bottom:18px; background-color:#eff5fd; border-left:dashed 1px #39628e; border-right:dashed 1px #39628e; }
.navArea { height:54px; background:url('../images/nav-bar.png') repeat-x 0 0; }

ul.main-nav li { float:left; padding-left:1px; } ul.main-nav li:first-child { padding:0; }
ul.main-nav li a { text-decoration:none; display:block; padding:0 20px; line-height:54px; font-size:14px; font-weight:700; color:#ffffff; text-shadow:1px 1px 3px #202020; text-transform:uppercase; }
ul.main-nav li.current a, ul.main-nav li a:hover { background-color:rgba(0,0,0,0.2); } 
.newArivBtn { position:absolute; top:0; right:18px; width:143px; height:68px; background:url('../images/new-arrival-bg.png') no-repeat 0 0; margin-top:-9px; display:block; }

.bodyPanel { padding:0 18px 18px; background-color:#eff5fd; border-left:dashed 1px #39628e; border-right:dashed 1px #39628e; }


.banner { line-height:0; overflow:hidden; }
.banner ul.slides { overflow:hidden; margin:0; padding:0; }
.flex-direction-nav { display:none; }
.banner .flex-control-nav { position:absolute; z-index:5; bottom:23px; right:24px; overflow:hidden; } .banner .flex-control-nav li { float:left; display:block; margin:0 0 0 7px; padding:0; } 
.banner .flex-control-nav li a { width:11px; height:7px; background-color:#f3ece3; display:block; text-indent:-9999px; cursor:pointer; } 
.banner .flex-control-nav li a.flex-active { background-color:#eeaf7e; }
.bannerStamp { position:absolute; z-index:10; top:50%; right:26px; margin-top:-31px; }

.bodyPanel article, .innerContPanel { padding:26px 0 10px; line-height:1.5; }
article h1, .innerContPanel h1 { font-family: 'rage_italicregular'; font-size:40px; color:#1b1412; margin-top:0; font-weight:normal; margin-bottom:20px; }
blockquote { display:block; margin:0 0 8px; padding:0 40px; border:0; font-family: 'Open Sans', Arial, Helvetica, sans-serif; font-size:13px; text-align:center; position:relative; background:url('../images/quote-start.png') no-repeat 0 0; }
blockquote:after { position:absolute; width:25px; height:20px; content:''; background:url('../images/quote-end.png') no-repeat 0 0; bottom:20px; right:0; }
blockquote legend { font-size:13px; color:#24528d; font-weight:400; border:0; padding:5px 0; margin:0; font-style:italic; }

article .aboutBox p, .innerContPanel p { font-size:14px; color:#101010; margin-bottom:20px; } article .aboutBox img { float:left; padding:6px; border:solid 1px #b9bcc3; background-color:#ffffff; margin:6px 32px 16px 0; }
ul.testiList, ul.testiList li, ul.prodList, ul.prodList li { list-style:none; margin:0; padding:0; }
ul.testiList li { float:left; width:42%; margin-left:8%; margin-bottom:46px; } ul.testiList { margin-left:-8%; }
ul.testiList li > img {  float:left; } ul.testiList .testiCont { margin-left:123px; }
blockquote.testiCont { background:none; padding:0; text-align:left; } blockquote.testiCont:after { display:none; }

.bodyPanel h2 { color:#4476ab; font-size:22px; font-weight:normal; margin:0 0 30px; }
.bodyPanel h3 { color:#4476ab; font-size:18px; font-weight:normal; margin:0 0 22px; }
dl.contList { margin:0 0 13px; } dl.contList dt { float:left; width:86px; margin:0; padding:6px 0 0; font-size:14px; font-weight:600; color:#1b1412; } dl.contList dd { margin:0 0 0 92px; }
dl.contList dt label { font-weight:600; }
input[type="text"], input[type="password"], input[type="email"],
select, textarea { border:solid 1px #b5b5b6; width:100%; margin:0; padding:7px 12px; background-color:transparent; font-size:13px; color:#222222; font-family: 'Open Sans', Arial, Helvetica, sans-serif; }
input[type="text"], input[type="password"], input[type="email"], select { height:36px; }
textarea { height:135px; }
input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus,
select:focus, textarea:focus { border-color:#4476ab; border-width:1px; border-style:solid; }

.padL24 { padding-left:24px; } .mb34 { margin-bottom:34px; } .btnpart { padding-top:9px; }
.cmnBtn { height:37px; background:url('../images/btnbg.jpg') repeat 0 0; -webkit-border-radius:5px; -moz-border-radius:5px; -ms-border-radius:5px; border-radius:5px; padding: 0 25px; border:0; font-size:16px; font-weight:700; color:#ffffff; text-shadow:1px 1px 2px #000000; }
a.cmnBtn { line-height:37px; display:inline-block; } a.cmnBtn:hover { color:#ffffff; text-decoration:none; }

.cont-phoneBar { padding:0 0 0 90px; background:url('../images/phone-ico.png') no-repeat 0 0; min-height:69px; }
.cont-phoneBar h2 { line-height:1.4; }
.cont-phoneBar h2 label { display:block; color:#565759; font-size:20px; font-weight:600; } .cont-phoneBar h2 label span { font-size:80%; color:#4476ab; padding:0 6px; }

ul.prodList { margin-left:-24px; } ul.prodList li { width:50%; float:left; margin-bottom:22px; } 
.prodBox { margin-left:24px; border:solid 1px #dbe1e8; background-color:#ffffff; padding:8px; }
.prodContainer { display:table; width:100%; border-spacing:0; border-collapse:collapse; } .prodContainer > div { display:table-cell; }
.prodImg { vertical-align:middle; width:166px; height:182px; text-align:center; overflow:hidden; } .prodImg img { max-width:145px; }
.prodCont { height:182px; padding:14px 0 0 18px; border-left:solid 1px #d2d2d2; overflow:hidden; }
.bodyPanel .prodCont h3 { font-weight:700; font-size:18px; margin:0 0 10px; height:22px; overflow:hidden; } .bodyPanel .prodCont h3 a { color:#4476ab; }
.prodTxt { height:42px; overflow:hidden; margin-bottom:4px; font-size:13px; }
.boldOrangeText, .boldOrangeText p { font-size:22px; font-weight:700; color:#f33914; margin-bottom:10px; }
a.blueBtn, a.blackBtn { display:inline-block; padding:7px 12px; margin-right:4px; margin-bottom:4px; font-size:14px; font-weight:600; color:#ffffff; -webkit-border-radius:5px; -moz-border-radius:5px; -ms-border-radius:5px; border-radius:5px; } a.blueBtn:hover, a.blackBtn:hover { text-decoration:none; }
a.blueBtn { background-color:#4476ab; } a.blackBtn { background-color:#3c3c3c; }
a.blueBtn:hover { background-color:#3c3c3c; } a.blackBtn:hover { background-color:#4476ab; }
a.blueBtn.buy, a.blackBtn.buy, a.blueBtn.see, a.blackBtn.see { line-height:32px; padding:0 10px 0 34px; background-repeat:no-repeat; }
a.blueBtn.buy, a.blackBtn.buy { background-image:url('../images/cart-btn-ico.png'); background-position:6px 8px; }
a.blueBtn.see, a.blackBtn.see { background-image:url('../images/see-dtls-btn-ico.png'); background-position:6px 7px; }

.footer { background-color:#eff5fd; border:dashed 1px #39628e; border-top:0; margin-bottom:20px; -webkit-border-radius:0 0 6px 6px; -moz-border-radius:0 0 6px 6px; -moz-border-radius:0 0 6px 6px; border-radius:0 0 6px 6px; } .footer p { font-size:12px; }
.footer h4 { font-size:15px; color:#24528d; margin:0 0 15px; text-transform:uppercase; font-weight:600; }
.footTopSection { padding:30px 0 26px; margin:0 20px; border-top:dashed 2px #a7acb1; }
ul.footNav { overflow:hidden; padding-left:0; font-size:12px; } ul.footNav li { margin-bottom:8px; text-transform:uppercase; } 
ul.footNav a { color:#888888; }
.socialFootLinks li a { display:block; color:#888888; margin:0 0 15px; } .socialFootLinks li a i.fa { display:block; float:left; color:#101010; font-size:16px; line-height:18px; cursor:pointer; } .socialFootLinks li a label { margin-left:22px; font-weight:400; font-size:12px; display:block; cursor:pointer; text-transform:uppercase; }
ul.footNav a:hover, ul.footNav li.current a, .socialFootLinks li a:hover, .socialFootLinks li a:hover i.fa { color:#24528d; text-decoration:none; }
.subsTxtF { margin-right:97px; }
.subsFields { border:solid 1px #c4c4c4; height:41px; overflow:hidden; padding:0; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; background-color:#d9e2ee; line-height:0; }
.subsFields input[type="text"] { width:60%; height:39px; padding:8px 12px; height:38px; border:0; line-height:100%; background-color:transparent; background-image:none; font-size:12px; color:#101010; font-style:normal; }
.subsFields .subscBtn { float:right; height:41px; width:94px; text-align:center; line-height:100%; font-size:14px; font-weight:700px; color:#ffffff; text-shadow:1px 1px 3px #202020; margin:0; background-color:transparent; background-image:url('../images/subs-btnbg.png'); background-position:0 0; background-repeat:no-repeat; border:0; -webkit-border-radius:0 5px 5px 0; -moz-border-radius:0 5px 5px 0; border-radius:0 5px 5px 0; }
.copyrightSection { border-top:solid 1px #7f8286; height:52px; background:url('../images/copyright-bg.png') repeat-x 0 0; padding:14px 0; -webkit-border-radius:0 0 6px 6px; -moz-border-radius:0 0 6px 6px; -moz-border-radius:0 0 6px 6px; border-radius:0 0 6px 6px; color:#ffffff; text-align:center; font-weight:600; font-size:14px; } .copyrightSection label { display:inline; padding-right:12px; font-weight:400; } .copyrightSection p { margin-bottom:0; padding:0; }
.copyrightSection a { color:#ffffff; text-decoration:none; } .copyrightSection a:hover { text-decoration:underline; }
.paymentLogo { padding-top:15px; display:block; text-align:center; }

.innerContPanel.contForm { padding-bottom:55px; }
dd input[type="checkbox"], dd input[type="radio"] { display:inline; vertical-align:middle; margin:0 10px 0 0; }
dd label { font-weight:600; } form dd { font-size:14px; }
.header input:focus { border:0; }
.register dl.contList dt { width:170px; } .register dl.contList dd { margin-left:185px; }
dl .btnpart label.rightTxt { padding-top:8px; display:inline-block; }

.pdImgHldr { padding:30px; background-color:#ffffff; border:solid 1px #d9e0e8; text-align:center; }
.boldOrangeText.largeTxt { font-size:30px; margin-bottom:27px; }
.innerContPanel label { font-weight:600; } .qtyHldr { margin-right:13px; }
.qtyHldr label { font-size:16px; padding-right:10px; } .qtyHldr .spinBox { display:inline-block; padding:0 28px; position:relative; }
.qtyHldr .spinBox .ui-spinner-button { position:absolute; top:0; width:30px; height:32px; display:block; border:solid 1px #a5a5a5; background-color:#d9d9d9; outline:0; background-repeat:no-repeat; background-position:center center; }
.qtyHldr .spinBox .ui-spinner-button span { display:none; }
.qtyHldr .spinBox .ui-spinner-button.ui-spinner-up { left:0; background-image:url('../images/plus-ico.jpg'); -webkit-border-radius:5px 0 0 5px; -moz-border-radius:5px 0 0 5px; -ms-border-radius:5px 0 0 5px; border-radius:5px 0 0 5px; }
.qtyHldr .spinBox .ui-spinner-button.ui-spinner-down { right:0; background-image:url('../images/minus-ico.jpg'); -webkit-border-radius:0 5px 5px 0; -moz-border-radius:0 5px 5px 0; -ms-border-radius:0 5px 5px 0; border-radius:0 5px 5px 0; }
.qtyHldr  .ui-spinner-input { width:50px; height:32px; border:solid 1px #a5a5a5; background-color:#eef5fd; outline:0; text-align:center; margin:0; }

.innerContPanel .table > thead > tr > th, .innerContPanel .table > tbody > tr > td { padding:10px 16px; font-size:14px; } .innerContPanel th { background-color:#4476ab; color:#ffffff; } 
.innerContPanel th:first-child { -webkit-border-radius:5px 0 0 0; -moz-border-radius:5px 0 0 0; -ms-border-radius:5px 0 0 0; border-radius:5px 0 0 0; }
.innerContPanel th:last-child { -webkit-border-radius:0 5px 0 0; -moz-border-radius:0 5px 0 0; -ms-border-radius:0 5px 0 0; border-radius:0 5px 0 0; }
.innerContPanel .table > tbody > tr { background-color:#e8e8e8; } .innerContPanel .table > tbody > tr:nth-child(even) { background-color:#d9e6f3; }
.innerContPanel .table > tbody > tr > td { border:solid 1px #bdbdbd; font-size:18px; color:#1c1412; font-weight:600; vertical-align:middle; }
.innerContPanel .table > tbody > tr > td:first-child { border-left:0; } .innerContPanel .table > tbody > tr > td:last-child { border-right:0; }

.innerContPanel td input[type="text"] { background-color:#ffffff; text-align:center; font-size:16px; color:#595758; font-weight:700; margin:0 0 8px; }
.innerContPanel td .prod-img-title { overflow:hidden; font-size:14px; } .prod-img-title > img { float:left; width:70px; padding:8px; background-color:#ffffff; border:solid 1px #bdbdbd; } .prod-img-title .title { margin-left:90px; padding-top:25px; }
.no-more-tables { margin-bottom:30px; } .bodyPanel h2 + p { margin-top:-15px; }
.calculate-ship-box { margin-bottom:6px; } .calculate-ship-box select, .calculate-ship-box input[type="text"] { width:250px; margin:0 15px 15px 0; float:left; }
.greyHili8-Box { border-top:solid 1px #bdbdbd; border-bottom:solid 1px #bdbdbd; background-color:#e8e8e8; padding:16px 18px; font-size:18px; font-weight:600; color:#1c1412; margin-bottom:32px; }
.formBox { border-top:double 4px #878787; padding:30px 0; } .formBox.Btnpart { padding:0; border:0; }
.formBox dl.contList dt { width:185px; } .formBox dl.contList dd { margin-left:195px; }
.innerContPanel h3 { font-weight:600; } .formBox h3 { margin:0 0 15px; }
.required { font-weight:600; color:#cf0000; }
.boldOrangeText p.pricedisplay { font-size:18px; color:#666666; }
.boldOrangeText p.pricedisplay.wpsc-product-price { font-size:30px; color:#f33914; }
.bodyPanel .innerContPanel h3 { margin:12px 0 14px; line-height:1.4; }
p.higli8 { background-color:#e3eaf3; padding:12px 18px; } p.higli8 em { font-weight:700; }
.formBox.Btnpart { margin-top:-20px; }

/* -- Responsive Table */
@media only screen and (max-width: 800px) {	
	.no-more-tables table, 
	.no-more-tables thead, 
	.no-more-tables tbody, 
	.no-more-tables th, 
	.no-more-tables td, 
	.no-more-tables tr { 
		display: block; 
	}
	.no-more-tables thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	} 
	.no-more-tables tr { border: 1px solid #ccc; margin-top:6px; } 
	.no-more-tables td { 
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 40% !important; 
		white-space: normal;
		text-align:left;
	}
	.innerContPanel .no-more-tables td.singleCol { padding-left:0 !important; text-align:center; }
	.no-more-tables td:before { 
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
		color:#4476ab; font-size:16px; font-weight:700;
	}
 	.no-more-tables td:before { content: attr(data-title); }
}
/* -- End: \ Responsive Table */


/*   22.9.14 [mintu]*/
.faq-wrapper h2 { color: #000;font-weight: 700; margin-bottom: 20px;}
.faq-wrapper > h4 { color: #4476ab; font-size: 16px; font-weight: 600; line-height:24px;}
.info-boxs > p { margin-bottom: 0;}
.info-boxs > ul { padding-left: 0;}
.info-boxs li {list-style:none;}
.info-boxs { margin-bottom: 30px;}
.faq-wrapper p {font-size: 13px; color:#1b1412;}
.faq-wrapper p.greyback { background: none repeat scroll 0 0 #e3eaf3; border-radius: 4px; -webkit-border-radius: 4px; -o-border-radius: 4px; -moz-border-radius: 4px; -khtml-border-radius: 4px; -xv-border-radius: 4px; font-style: italic; font-weight: 600; line-height: 20px; margin-bottom: 30px; padding: 20px;}
.faq-wrapper .greybacklist { background: none repeat scroll 0 0 #e3eaf3; border-radius: 4px; -webkit-border-radius: 4px; -o-border-radius: 4px; -moz-border-radius: 4px; -khtml-border-radius: 4px; -xv-border-radius: 4px; font-style: italic; font-weight: 600; line-height: 20px; margin-bottom: 30px; padding: 20px;}
.greybacklist2 { background: none repeat scroll 0 0 #e3eaf3; border-radius: 4px; -webkit-border-radius: 4px; -o-border-radius: 4px; -moz-border-radius: 4px; -khtml-border-radius: 4px; -xv-border-radius: 4px; font-style:normal; font-weight: normal; line-height: 20px; margin-bottom: 30px; padding: 20px;}
.main-gray{ background: none repeat scroll 0 0 #e3eaf3; border-radius: 4px; -webkit-border-radius: 4px; -o-border-radius: 4px; -moz-border-radius: 4px; -khtml-border-radius: 4px; -xv-border-radius: 4px; font-style:normal; font-weight: normal; line-height: 20px; margin-bottom: 30px; padding: 20px;}
.main-gray > h4 { color: #4476ab; font-size: 16px; font-weight: 600;}
.info-boxs p.text-ita {margin-bottom: 20px;}
.greybacklist ul { padding-left: 0;}
.greybacklist ul li { background: url("../images/bullet-blue.png") no-repeat scroll left center rgba(0, 0, 0, 0); list-style: outside none none; padding-left: 14px;}
.greybacklist li a { color: #000;}
.text-ita{ font-style:italic; font-weight:700;}
/**account -registration**/
.ac-btnwrap { margin-bottom: 20px;}
.cmnBtn-yellow:hover{ color:#fff; text-decoration:none;}
.cmnBtn-yellow { background:#ca6d31; border: 0 none; border-radius: 5px; color: #ffffff; font-size: 16px; font-weight: 700; height: 37px; padding: 0 25px;  line-height:37px; display: inline-block; margin-bottom:5px;}
.ac-btnwrap .cmnBtn {margin-bottom: 5px;}
.acco-wrapp .formBox { border-top: medium none;  padding-top: 16px;}
.formBox .formbox-inner { border-top: 4px double #555; padding-top:20px;}
.contList select { color: #b5b6b7; font-size: 14px; font-weight: 600;}

.transation-wrapp .text-itagreen { color:#66a621; font-weight:700; font-style:italic;}
.large-heading { clear: both; color: #4476ab; font-size: 20px; font-weight: 600; line-height: 24px; margin-bottom: 20px;}

.heading-his { border-bottom: 1px solid #ccc; color: #4476ab; font-size: 22px;font-weight: 600; padding: 10px 20px;}
.history-box { border: 1px solid #ccc; background:#fff;}
.le-col { float: left; width: auto;}
.ri-col { float: right; width: auto;}
.bottom-his {border-top: 1px solid #ccc; color: #010101; font-size: 17px; padding: 10px 20px;}
.left-his{ padding: 10px 20px;}
.left-his .prod-img-title { width: 72%; float: left;}
.right-coll {
  float: right;
  width: 25%;
  text-align: right;
  font-size:17px;
  color:#010101;
}
.his-details .title > a {
  font-size: 17px;
  font-weight: 600;
}
.his-details .prod-img-title > img {
  background-color: #ffffff;
  border: 1px solid #bdbdbd;
  float: left;
  padding: 8px;
  width: 100px; margin-right:20px;
}
.his-details .prod-img-title .title {
  padding-top: 25px;
}
.right-his { font-weight: 600;}




@media only screen and (max-width:991px) {
	body { background-image:none; }
	.hdrTop .fl, .hdrTop .fr { float:none; text-align:center; } .hdrTop .searchItems li { float:none; display:inline-block; vertical-align:middle; }
	ul.main-nav li a { padding:0 12px; }	
	.paymentLogo img { max-width:98%; }
}
@media only screen and (min-width:768px) and (max-width:991px) {
	.subsFields .subscBtn { width:64px; font-size:12px; }
}
@media only screen and (max-width:767px) {	
	.phone { display:block; } 
	ul.main-nav { display:none; position:absolute; z-index:999; width:100%; top:54px; left:0; background-color:#ce7c43; color:#ffffff; text-align:left; padding-left:0; box-shadow:-3px 0 16px rgba(255,255,255,0.7); }	
	ul.main-nav li { margin:0; float:none; padding:0; background:none; display:block; border-top:solid 1px #903700; } ul.main-nav li:first-child { border:0; }
	ul.main-nav li a { display:block; padding:8px 20px; line-height:normal; color:#ffffff; border:0; } ul.main-nav li a:hover, ul.main-nav li.current a { background-color:#903700; color:#ffffff; }
	.footTopSection { text-align:center; } .footTopSection h4 { margin-top:10px; }
	.socialFootLinks li a { margin-bottom:0; }
	.socialFootLinks li a i.fa { float:none; display:inline-block; }
	.socialFootLinks li a label { width:90px; text-align:left; margin-left:10px; display:inline-block; }
	.subsFields { width:60%; margin:0 auto; text-align:left; }
	ul.testiList { margin-left:0; } ul.testiList li { width:100%; margin-left:0; }
	[class*="col"] .padL24 { padding-left:0; padding-top:20px; }
	ul.prodList { margin:0; } ul.prodList li { width:100%; } .prodBox { margin-left:0; }
	.innerContPanel h1, .bodyPanel > article h1 { text-align:center; } .pdImgHldr { margin-bottom:15px; }
	.innerContPanel.contForm { padding-bottom:20px; }
	/*22.9.14*/
	.ac-btnwrap { margin-bottom: 20px; text-align:center;}
}
@media only screen and (max-width:640px) {
	.searchItems li.stampList { display:none; }
	.inputBox span.cartDtls, .inputBox input[type="text"], .inputBox input[type="search"] { font-size:11px; }
	.inputBox input[type="text"], .inputBox input[type="search"] { width:130px; }
	article h1, .innerContPanel h1 { font-size:30px; }
	.bodyPanel h2 { font-size:18px; } .bodyPanel h2  label { font-size:16px; } .bodyPanel h3 { font-size:16px; }
	.copyrightSection p label, .copyrightSection p > a { display:block; }
	.copyrightSection { font-size:11px; } 
	dl.contList dd { font-size:12px; }
	.boldOrangeText.largeTxt, .qtyContP { text-align:center; }
	.qtyContP .fl { float:none; } .qtyHldr { display:inline-block; margin-bottom:20px; }
	/*22.9.14*/
	.ac-btnwrap { margin-bottom: 20px; text-align:center;}
	.his-details .prod-img-title .title { padding-top:0; }
}
@media only screen and (max-width:480px) {
	.subsFields { width:100%; margin:0 auto; }
	ul.testiList li { margin-bottom:26px; } ul.testiList li > img {  width:72px; } ul.testiList .testiCont { margin-left:82px; }
	dl.contList dt, .register dl.contList dt, .formBox dl.contList dt { float:none; width:auto; padding-bottom:4px; } dl.contList dd, .register dl.contList dd, .formBox dl.contList dd { margin:0; }
	.prodContainer, .prodContainer > div.prodImg, .prodContainer > div.prodCont { display:block; text-align:center; width:auto; margin:0; height:auto; overflow:visible; }
	.prodContainer > div.prodImg { padding-bottom:10px; }
	.prodContainer > div.prodCont { border-left:0; border-top:1px solid #d2d2d2; padding:10px; }
	dl .btnpart label.rightTxt { padding-top:10px; font-size:12px; }
	.prod-img-title > img { float:none; } .prod-img-title .title { margin-left:0; padding-top:10px; }
	.greyHili8-Box { margin-top:20px; } .greyHili8-Box .fl, .greyHili8-Box .fr { float:none; padding:3px 0; }
	.qtyHldr { margin-bottom:8px; position:relative; top:-15px; }
	.contList .btnpart, .checkPart, .calculate-ship-box, .formBox.Btnpart { text-align:center; } dl.contList .btnpart label.rightTxt, .checkPart > a  { display:block; } .contList .btnpart label.fr { float:none; }
	.checkPart > label > span { display:none; }
	.calculate-ship-box .cmnBtn.fl, .calculate-ship-box select, .calculate-ship-box input[type="text"]  { float:none; }
	/*22.9.14*/
	.his-details, .heading-his { text-align:center; }
	.his-details .prod-img-title > img { float:none; margin-bottom:10px; margin-right:0; }
	.left-his .prod-img-title { width:100%; float:none; } .left-his .right-coll  { float:none; width:auto; text-align:center; padding-top:10px; }
	.bottom-his .le-col, .bottom-his .ri-col { float:none; padding:5px 10px; }
	.ac-btnwrap { margin-bottom: 20px; text-align:center;}
	.bottom-his { padding: 10px 5px; text-align:center; }
	.his-details .prod-img-title .title { padding-top: 0px;}
}

